/*

.slick-prev::before {
  background: url(../../../Assets/Img/Group55485.png) !important;
  background-repeat: no-repeat;
  left: 0px;
}
.slick-next::before {
  background: url(../../../Assets/Img/Group55650000.png) !important;
  background-repeat: no-repeat;
  left: 0px;
} */
