input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.css-1s2u09g-control{
    height: 45px !important;
}
.css-6j8wv5-Input{
    margin: 0 !important;
}